# Virtual environments
.venv/
env/
venv/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Sensitive files / Credentials
PVT/
*.json
!package.json
!tsconfig.json

# Environment variables
.env
.env.*

# Logs and debug HTML dumps
*.log
*.html

# Downloaded files / runtime data
downloads/


